.row
  .col-sm-12
    .page-header
      %h1 Reset your password
.row
  .col-sm-6.col-sm-offset-3
    .well.well-sm
      %p
        We have emailed you with instructions on how to reset your password.
        In the meantime, we have disabled your account to keep it secure.
        It will be re-enabled when you reset your password.
      %p=link_to 'Back to the home page', root_url
