.row
  .col-md-12
    .page-header
      %h1 Artists
.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th
      -@artists.each do |artist|
        %tr
          %td=artist.name
          %td
            =link_to 'View', artist
            =link_to 'Edit', edit_artist_url(artist)
            -if artist.destroyable?
              =link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' }
.row
  .col-md-12
    =link_to 'New', new_artist_url, class: 'btn btn-success'