.row
  .col-md-8.col-md-offset-2
    =form_for @user, url: change_password_url, html: {method: :put, class: 'form-horizontal', role: 'form'} do |f|
      =render partial: 'layouts/error_messages', locals: {thing: @user, message: nil}
      .form-group
        =f.label :password, 'New password', class: 'control-label col-sm-4'
        .col-md-8
          =f.password_field :password, autofocus: true, class: 'form-control'
      .form-group
        =f.label :password_confirmation, 'Enter it again', class: 'control-label col-sm-4'
        .col-md-8
          =f.password_field :password_confirmation, class: 'form-control'
      .form-group
        =f.label :current_password, class: 'control-label col-sm-4'
        .col-md-8
          =f.password_field :current_password, class: 'form-control'
      .form-group
        .col-md-8.col-md-offset-4
          =f.submit 'Save', class: 'btn btn-success'
