<div class="row row-no-margin">
  <div class="col-xs-12 offset col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
    <div class="signin-form">
      Sign up
    </div>
  </div>
</div>
<%= render 'form' %>
</div>