<!-- Cards for Stories tab //////////////////////////////////////////////////// -->
		
<!-- row 1 -->
<div class="row">
  <div class="[ col-xs-12 col-sm-8 col-md-8]">
  		<div class="[ info-card ] nohover">

<iframe src="//fast.wistia.net/embed/iframe/vfqcxhw9tz?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="388"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js"></script>
	</DIV>
  </div>

<div class="[ col-xs-12 col-sm-4 col-md-4]">
	<div class="[ info-card ] nohover">
		<iframe src="//fast.wistia.net/embed/iframe/ulsbc47528?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="320" height="180"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js"></script>
	</div>
</div>	
</div>		
		<!-- end row 1 -->