.row
  .col-md-8.col-md-offset-2
    =form_for(@<%= singular_table_name %>, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .well.well-sm
        =render partial: '/layouts/error_messages', locals: {thing: @<%= singular_table_name %>, message: nil}
        <%- attributes.each do |attribute| -%>
        <%- if attribute.name != 'user_id' -%>
        <%- if attribute.type == 'boolean' -%>
        .form-group
          .col-sm-8.col-sm-offset-2
            .checkbox
              %label
                =f.check_box :<%= attribute.name %>
                <%= attribute.name.humanize %>
        <%- else -%>
        .form-group
          =f.label :<%= attribute.name %>, class: 'control-label col-md-4'
          .col-md-8
            <%- if attribute.name[-3..-1] == '_id' -%>
            =f.collection_select :<%= attribute.name -%>, @<%= attribute.name[0..-4].pluralize -%>, :id, :name, {prompt: 'Select...'}, {class: 'form-control'}
            <%- elsif attribute.type == 'text' -%>
            =f.text_area :<%= attribute.name %>, class: 'form-control', size: '60x6'
            <%- else -%>
            =f.text_field :<%= attribute.name -%>, class: 'form-control'
            <%- end -%>
        <%- end -%>
        <%- end -%>
        <%- end -%>
      =f.submit 'Save', class: 'btn btn-success'
      or
      =link_to 'cancel', <%= table_name %>_path
