.row
  .col-md-12
    .page-header
      %h1 Edit <%= singular_table_name.gsub('_',' ').titleize %>
=render partial: 'form'
.row
  .col-md-12
    = link_to 'Back', <%= table_name %>_path
    \|
    = link_to 'View', @<%= singular_table_name %>
