    <!-- Footer -->
    <div class="bottom">
    	<div class="container" style="background-color:#646464; padding-top:20px;">
        	<div class="[ col-lg-3 col-md-3 col-sm-3 col-xs-12 col-centered footer-mobile ] " style="background-color:#646464; padding-left: 47px;">
        		<p class="footer-headings">Community</p>
            	<ul class="community">
            		<li>
            			<a href="privacy.html">Privacy</a>
            		</li>
            		<li>
            			<a href="privacy.html#cookies">Cookies</a>
            		</li>
                </ul>
            </div>
            <div class="[ col-lg-3 col-md-3 col-sm-3 col-xs-12 col-centered footer-mobile ] " style="background-color:#646464; padding-left: 47px;">
            	 <p class="footer-headings">About Us</p>
                 <ul class="get-to-know">
            		<li>
            			<a href="mailto:tom@bourbon.fm">Contact</a> 
            		</li>

            	   <li>
                        &copy; 2014 Bourbon, Inc.
                    </li>
                 </ul>
            </div>
            <div class="[ col-lg-3 col-md-3 col-sm-3 col-xs-12 col-centered footer-mobile ] " style="background-color:#646464; padding-left: 47px;">
				<p class="footer-social-headings">Follow Bourbon</p>
            	<ul class="social-media">
                    <li>
                         <a href="http://instagram.com/bourbon.fm">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                            <a href="http://instagram.com/bourbon.fm">Instagram</a>
                        </li> 
                    <li>
                        <a href="https://plus.google.com/111960360425250089825">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-google-plus-square fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="https://plus.google.com/111960360425250089825" rel="publisher">Google+</a>
                    </li>
                </ul>
            </div>
            <div class="[ col-lg-3 col-md-3 col-sm-3 col-xs-12 col-centered footer-mobile ] " style="background-color:#646464; padding-left: 47px;">
				<p class="footer-social-headings">Follow Bourbon</p>
                	<ul class="social-media">
                    	<li>
                            <a href="https://www.facebook.com/bourbon.fm">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                             <a href="https://www.facebook.com/bourbon.fm">Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/bourbonfm">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a href="https://twitter.com/bourbonfm">Twitter</a>
                        </li>
                       
                    </ul>
            </div>
        </div>

                        