%a{href: 'http://instantssl.com/ssl.html', style: 'text-decoration:none;'}
  %img{alt: 'SSL', src: 'http://www.instantssl.com/ssl-certificate-images/support/comodo_secure_76x26_transp.png', style: 'border: 0px;'}
  -#%br/
  -#%span{style: 'font-weight:bold;font-size:12px; padding-left:30px; color:#77BAE4;'} SSL
