    <!-- Footer -->
    <div class="bottom">
    	<div class="container" style="background-color:#646464; padding-top:20px;">
        	<div class="[ col-lg-3 col-md-3 col-sm-3 col-xs-12 col-centered footer-mobile ] " style="background-color:#646464; padding-left: 47px;">
        		<p class="footer-headings">Join Our Community</p>
            	<ul class="community">
            		<li>
            			<a href="#">Who's Here Already?</a>
            		</li>
            		<li>
            			<a href="#">Community Guidelines</a>
            		</li>
            		<li>
            			<a href="#">Become a Curator
            		</li>
                </ul>
            </div>
            <div class="[ col-lg-3 col-md-3 col-sm-3 col-xs-12 col-centered footer-mobile ] " style="background-color:#646464; padding-left: 47px;">
            	 <p class="footer-headings">Get to Know Us</p>
                 <ul class="get-to-know">
            		<li>
            			<a href="#">Our Story</a>
            		</li>
            		<li>
            			<a href="#">The Team</a>
            		</li>
            		<li>
            			<a href="#">We're Hiring!</a>
            		</li>
                 </ul>
            </div>
            <div class="[ col-lg-3 col-md-3 col-sm-3 col-xs-12 col-centered footer-mobile ] " style="background-color:#646464; padding-left: 47px;">
				<p class="footer-headings">Questions?</p>
            	<ul class="questions">
            		<li>
             	       <a href="#">Why Bourbon?</a> 
                    </li>
                    <li>
                        <a href="#">FAQs</a>
                    </li>
          		    <li>
                       <a href="#">Contact Us!</a>
                    </li>
                </ul>
            </div>
            <div class="[ col-lg-3 col-md-3 col-sm-3 col-xs-12 col-centered footer-mobile ] " style="background-color:#646464; padding-left: 47px;">
				<p class="footer-social-headings">Follow Bourbon</p>
                	<ul class="social-media">
                    	<li>
                            <a href="https://www.facebook.com/bourbon.fm">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                             <a href="https://www.facebook.com/bourbon.fm">Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/bourbonfm">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a href="https://twitter.com/bourbonfm">Twitter</a>
                        </li>
                        <li>
                            <a href="http://instagram.com/bourbon.fm">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a href="http://instagram.com/bourbon.fm">Instagram</a>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="container" style="background-color:#646464; padding-top:20px; padding-bottom:20px;">
            <div class="[ col-lg-2 col-md-2 col-sm-6 col-xs-9 col-centered ]" style="background-color:#646464;">
            	<ul class="bourbon-copyright">
            		<li>
            			&copy; 2014 Bourbon, Inc.
            		</li>
            	</ul>
            </div>
            <div class="[ col-lg-2 col-md-2 col-sm-6 col-xs-9 col-centered ]" style="background-color:#646464;">
            	<ul class="bourbon-copyright">
            		<li>
            			<a href="#">Terms</a>
            		</li>
            	</ul>
            </div>
            <div class="[ col-lg-2 col-md-2 col-sm-6 col-xs-9 col-centered ]" style="background-color:#646464;">
            	<ul class="bourbon-copyright">
            		<li>
            			<a href="privacy.html">Privacy</a>
            		</li>
            	</ul>
            </div>
            <div class="[ col-lg-2 col-md-2 col-sm-6 col-xs-9 col-centered ]" style="background-color:#646464;">
            	<ul class="bourbon-copyright">
            		<li>
            			<a href="privacy.html#cookies">Cookies</a>
            		</li>
            	</ul>
            </div>
            <div class="[ col-lg-2 col-md-2 col-sm-6 col-xs-9 col-centered ]" style="background-color:#646464;">
            	<ul class="bourbon-copyright">
            		<li>
            			<a href="privacy.html#content">Content</a>
            		</li>
            	</ul>
            </div>
            <div class="[ col-lg-2 col-md-2 col-sm-6 col-xs-9 col-centered ]" style="background-color:#646464;">
            	<ul class="bourbon-copyright">
            		<li>
            			<a href="#">Copyright</a>
            		</li>
            	</ul>
            </div>
        </div>
    </div>